.btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
}

.btn_defailt {
    
}

// .btn_secondary {
    
// }

.btn_size {
    // &--sm {

    // }
    // &--md {
    // }
    // &--xl {
    // }
}
