@import 'variables/index';

html {
  height: 100%;
  font-size: 16px;
}

body {
  display: flex;
  flex-flow: column;
  min-width: $sm;
  min-height: 100%;
  font-family:"", sans-serif;
  line-height: 1.2;
  color: $textColor;
}

.body--hidden {
  overflow: hidden;
  margin-right: 1rem;
}


.header {
  flex: 0 0 auto;
 }
 
 .page {
   flex: 1 0 auto;
 
 }
 .footer {
   flex: 0 0 auto;
 }
 

.container {
  width: 90%;
  margin: 0 auto;
}

@media(min-width: $md) {
  .container {
    width: 82%;
  }
}

@media(min-width: $xl) {
  .container {
    width: 96%;
  }
}
@media(min-width: $hd) {
  .container {
    width: 68%;
  }
}

